.dropup,
.dropright,
.dropdown,
.dropleft {
  &.show:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zindex-dropdown - 1;
    width: 100%;
    height: 100%;
  }
}
