.avatar {
  width: $avatar-size-base;
  height: $avatar-size-base;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  //vertical-align: middle;
  font-size: 80%;
  color: #fff;
  overflow: hidden;
  background-color: $avatar-bg-color;
}

.avatar-sm {
  width: $avatar-size-sm;
  height: $avatar-size-sm;
}

.avatar-lg {
  width: $avatar-size-lg;
  height: $avatar-size-lg;
}
