/* * 页面布局 */
header {
  height: 80px;
  line-height: 80px;
  padding: 0 50px;
  background: #33a3dc;
  color: #fff;
}
.elements-list {
  width: 256px;
  height: calc(100vh - 80px);
  background-color: #fff;
  padding-left: .80px;
  padding-right: .80px;
  .ui-draggable-dragging {
      max-width: 160px;
 }
  li {
      padding: .2000px;
      a {
          display: block;
          padding: .400px .80px;
          background-color: #f8f9fa;
          border: 1px solid #d9d9d9;
          cursor: move;
          img {
              height: 20px;
              width: 20px;
         }
          span {
              margin-left: .400px;
              vertical-align: middle;
         }
     }
 }
}
.elements-header {
  padding: .1200px .80px .400px;
}
.container-fluid {
  overflow: hidden;
}
.center {
  height: calc(100vh - 80px);
  padding: 0;
  overflow-y: auto;
}
.right {
  width: 240px;
  height: calc(100vh - 80px);
  padding: .80px;
  overflow-y: auto;
  background-color: #fff;
  .form-group {
      margin-bottom: .80px;
 }
  label {
      margin-bottom: 4px;
 }
}
.color {
  display: flex;
  flex-direction: row;
  span {
      display: inline-block;
      margin-top: 1mm;
      margin-right: 2mm;
      width: 5mm;
      height: 5mm;
      padding: 0.5mm;
      border: 0.5pt solid;
      margin-bottom: 1.5mm;
      i {
          display: inline-block;
          width: 100% !important;
          height: 90% !important;
     }
 }
}
/* * 单据页组件 */
