// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system
$avatar-size-base: 36px !default;
$avatar-size-sm: 32px !default;
$avatar-size-lg: 40px !default;
